In [2]:
from monai.data.box_utils import convert_box_mode
import pandas as pd
import numpy as np
import ast

In [2]:
def from_np_array(array_string):
    array_string = ','.join(
        array_string.replace('[  ', '[').replace('[ ', '[').split()
    )
    return np.array(ast.literal_eval(array_string))

In [3]:
content = pd.read_csv(
    '/data/output/hc_clean_nodules.csv',
    converters={
        'spacing': from_np_array,
        'origin': from_np_array
    }
)
print(content.shape)
content.head()

(101, 10)

,name,spacing,origin,exam_refined,x_min,y_min,z_min,x_max,y_max,z_max
0,PL032303325116347,"[1.25, 0.703125, 0.703125]","[-239.75, -237.5, -185.699997]",False,311,312,62,337,341,76
1,PL061850842690412,"[1.0, 0.976562, 0.976562]","[-241.5, -109.0, -244.0]",False,161,302,278,186,328,301
2,PL064775189851313,"[0.75, 0.921875, 0.921875]","[-13.5, -99.0, -237.0]",False,328,313,324,355,337,346
3,PL070153620449075,"[1.0, 0.976562, 0.976562]","[16.5, -130.0, -253.0]",False,140,230,276,195,275,310
4,PL075999918976403,"[1.0000001, 0.902344, 0.902344]","[356.999969, -153.0, -243.0]",False,175,298,222,235,352,272

In [7]:
for hc_bb in content[0:10].itertuples(index=False):
    _vec = [hc_bb[4], hc_bb[5], hc_bb[6], hc_bb[7], hc_bb[8], hc_bb[9]]
    vec = convert_box_mode(
        np.expand_dims(np.array(_vec), axis=0),
        src_mode="xyzxyz",
        dst_mode="cccwhd"
        # dst_mode="xyzxyz"
    )
    print(hc_bb[0], vec)

PL032303325116347 [[324 326  69  26  29  14]]
PL061850842690412 [[173 315 289  25  26  23]]
PL064775189851313 [[341 325 335  27  24  22]]
PL070153620449075 [[167 252 293  55  45  34]]
PL075999918976403 [[205 325 247  60  54  50]]
PL090002409998035 [[165 306 288  27  30  23]]
PL092011846020010 [[306 272 275  29  31  22]]
PL105774832311414 [[155 345 182  38  38  43]]
PL107909012459665 [[175 195 211  16  17  16]]
PL126225386175081 [[180 268 318  47  40  36]]

### testing on a LUNA16 sample

In [3]:
_vec = [136.0000, 191.6250,  70.5625, 161.8750, 217.5000, 85.1250]
vec = convert_box_mode(
    np.expand_dims(np.array(_vec), axis=0),
    src_mode="xyzxyz",
    # src_mode="cccwhd",
    dst_mode="cccwhd"
    # dst_mode="xyzxyz"
)
print(vec)

[[148.9375  204.5625   77.84375  25.875    25.875    14.5625 ]]

In [11]:
_vec = [102.2377292, 65.32842988, 240.6955559, 18.210145, 18.210145, 18.210145]
vec = convert_box_mode(
    np.expand_dims(np.array(_vec), axis=0),
    src_mode="cccwhd",
    # src_mode="xyzxyz",
    # dst_mode="cccwhd"
    dst_mode="xyzxyz"
)
print(vec)

[[ 93.13265622  56.2233569  231.59048292 111.34280218  74.43350286
  249.80062888]]

there is something weird with this transformation, the convertions do not fit the original files!

In [13]:
print(93.13265622 - 111.34280218)
print(56.2233569 - 74.43350286)
print(231.59048292 -  249.80062888)

-18.210145960000006
-18.210145960000006
-18.210145960000006