In [1]:
import glob
import SimpleITK as sitk
from tqdm import tqdm
import pandas as pd

In [2]:
def load_scan(path):
    itkimage = sitk.ReadImage(path)
    return sitk.GetArrayFromImage(itkimage)

### LUNA16

In [3]:
INPUT_FOLDER = r'D:/masters_datasets/LUNA16-original/LUNA16_Images/*.mhd'
exams = glob.glob(INPUT_FOLDER)
print(len(exams))
exams.sort()

888

In [4]:
all_dims = []

for exam in tqdm(exams):
    ex = load_scan(exam)
    all_dims.append({
        "z": ex.shape[0],       
        "x": ex.shape[1],       
        "y": ex.shape[2]       
    })

100%|██████████| 888/888 [55:01<00:00,  3.72s/it]

In [5]:
dims = pd.DataFrame(all_dims)
dims.to_csv('luna16-shape.csv', index=False)
dims.head()

     z    x    y
0  194  512  512
1  481  512  512
2  157  512  512
3  471  512  512
4  126  512  512

### HC

In [6]:
INPUT_FOLDER = r'D:/masters_datasets/HC1/**/103*'
exams = glob.glob(INPUT_FOLDER)
print(len(exams))

101

In [7]:
all_dims = []

for exam in tqdm(exams):
    ex = load_scan(exam)
    all_dims.append({
        "z": ex.shape[0],       
        "x": ex.shape[1],       
        "y": ex.shape[2]       
    })

100%|██████████| 101/101 [00:22<00:00,  4.52it/s]

In [8]:
dims = pd.DataFrame(all_dims)
dims.to_csv('hc-shape.csv', index=False)
dims.head()

     z    x    y
0  213  512  512
1  441  512  512
2  530  512  512
3  409  512  512
4  319  512  512

### Medical Decathlon

In [9]:
INPUT_FOLDER = r'D:/masters_datasets/DECATHLON/Task06_Lung/imagesTr/lung*'
exams = glob.glob(INPUT_FOLDER)
print(len(exams))

63

In [10]:
all_dims = []

for exam in tqdm(exams):
    ex = load_scan(exam)
    all_dims.append({
        "z": ex.shape[0],       
        "x": ex.shape[1],       
        "y": ex.shape[2]       
    })

100%|██████████| 63/63 [03:12<00:00,  3.05s/it]

In [11]:
dims = pd.DataFrame(all_dims)
dims.to_csv('msd-shape.csv', index=False)
dims.head()

     z    x    y
0  304  512  512
1  288  512  512
2  276  512  512
3  329  512  512
4  567  512  512