### only 601 exams contains nodules!

In [1]:
from utils import load_scan
import glob
from tqdm import tqdm
import json
import numpy as np

In [2]:
MASK_FOLDER = r'C:/Users/ejrza/Downloads/mestrado/projeto/code/masters-object/POCS/preprocessing-tutorial/water-mask/*-mask.nrrd'
exams = glob.glob(MASK_FOLDER)
print(len(exams))
exams.sort()

130

In [3]:
ANN_PATH = r'D:/masters_datasets/LUNA16-ann/mhd_original/dataset*'
anns = glob.glob(ANN_PATH)
print(len(anns))
anns.sort()

11

In [4]:
merged_contents = []

for ann in anns:
    f = open(ann)
    category = json.load(f)
    for cat in category: # training, validation
        for im in category[cat]: # every item - box, image, label (all label are 0)
            merged_contents.append(im['image']) 
            # merged_contents = np.concatenate((merged_contents, im['label']), axis=None)
            # print(im['label'])
    
print(len(merged_contents))

6063

In [5]:
merged_contents = np.array(merged_contents)
print(len(np.unique(merged_contents)))

601

In [6]:
import os

PATH = r'D:/masters_datasets/LUNA16/LUNA16_Images_resample/'

samples = os.listdir(PATH)
print(len(samples))

samples[0]

601

'1.3.6.1.4.1.14519.5.2.1.6279.6001.324290109423920971676288828329'

In [7]:
INPUT_FOLDER = r'D:/masters_datasets/LUNA16-original/LUNA16_Images/*.mhd'
exams = glob.glob(INPUT_FOLDER)
print(len(exams))
exams.sort()

print(exams[0].split('\\')[-1].split('.mhd')[0])

parsed_exams = []
for exam in exams:
    parsed_exams.append(exam.split('\\')[-1].split('.mhd')[0])

print(len(parsed_exams))
parsed_exams[0]

888
1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222365663678666836860
888

'1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222365663678666836860'

In [8]:
import pandas as pd

arr1 = pd.DataFrame(parsed_exams)
arr1['source'] = 'original'
print(arr1.shape)
arr1.head()

(888, 2)

                                                   0    source
0  1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...  original
1  1.3.6.1.4.1.14519.5.2.1.6279.6001.100332161840...  original
2  1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...  original
3  1.3.6.1.4.1.14519.5.2.1.6279.6001.100530488926...  original
4  1.3.6.1.4.1.14519.5.2.1.6279.6001.100620385482...  original

In [9]:
arr2 = pd.DataFrame(samples)
arr2['source'] = 'parsed'
print(arr2.shape)
arr2.head()

(601, 2)

                                                   0  source
0  1.3.6.1.4.1.14519.5.2.1.6279.6001.324290109423...  parsed
1  1.3.6.1.4.1.14519.5.2.1.6279.6001.250397690690...  parsed
2  1.3.6.1.4.1.14519.5.2.1.6279.6001.247060297988...  parsed
3  1.3.6.1.4.1.14519.5.2.1.6279.6001.315187221221...  parsed
4  1.3.6.1.4.1.14519.5.2.1.6279.6001.309901913847...  parsed

In [13]:
merged1 = pd.merge(arr1, arr2, on=0, how='left')
print(merged1.shape)
merged1.head()

(888, 3)

                                                   0  source_x source_y
0  1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...  original   parsed
1  1.3.6.1.4.1.14519.5.2.1.6279.6001.100332161840...  original      NaN
2  1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...  original   parsed
3  1.3.6.1.4.1.14519.5.2.1.6279.6001.100530488926...  original      NaN
4  1.3.6.1.4.1.14519.5.2.1.6279.6001.100620385482...  original      NaN

In [15]:
print(merged1['source_x'].unique())
print(merged1['source_y'].unique())

['original']
['parsed' nan]

In [16]:
merged2 = pd.merge(arr1, arr2, on=0, how='right')
print(merged2.shape)
merged2.head()

(601, 3)

                                                   0  source_x source_y
0  1.3.6.1.4.1.14519.5.2.1.6279.6001.324290109423...  original   parsed
1  1.3.6.1.4.1.14519.5.2.1.6279.6001.250397690690...  original   parsed
2  1.3.6.1.4.1.14519.5.2.1.6279.6001.247060297988...  original   parsed
3  1.3.6.1.4.1.14519.5.2.1.6279.6001.315187221221...  original   parsed
4  1.3.6.1.4.1.14519.5.2.1.6279.6001.309901913847...  original   parsed

In [17]:
print(merged2['source_x'].unique())
print(merged2['source_y'].unique())

['original']
['parsed']

In [1]:
import pandas as pd

anno = pd.read_csv('annotations2.csv')
print(anno.shape)
anno.head()

(1186, 5)

,seriesuid,coordX,coordY,coordZ,diameter_mm
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-128.699421,-175.319272,-298.387506,5.651471
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.783651,-211.925149,-227.121250,4.224708
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...,69.639017,-140.944586,876.374496,5.786348
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,-24.013824,192.102405,-391.081276,8.143262
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,2.441547,172.464881,-405.493732,18.545150

In [2]:
len(anno['seriesuid'].unique())

601